/*General CSS used for entire application*/
* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #22272e;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #5cdb95;
}

::placeholder {
  /* General CSS needed for full site */

  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #808080;
  opacity: 1; /* Firefox */
}
